@charset "UTF-8";

#diaryForm th {
  width: 80px;
}

/*----------------------------------------------
 * clearfix, overflow: hidden
 *--------------------------------------------*/
.diaryDetailBox .partsHeading,
.diaryDetailBox dl,
.prevNextLinkLine,
.commentList dl,
.recentList dl,
.formTable .partsHeading,
.formTable div.checkList ul {
  zoom: 1;
  overflow: visible;
}

.diaryDetailBox .partsHeading:after,
.diaryDetailBox dl:after,
.prevNextLinkLine:after,
.commentList dl:after,
.recentList dl:after,
.formTable .partsHeading:after,
.formTable div.checkList ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*==============================================================================
 * 8. diaryDetailBox
 *----------------------------------------------------------------------------*/
.diaryDetailBox h3 {
  float: left;
  width: 66%;
}

.diaryDetailBox .partsHeading p.public {
  float: right;
  width: 33%;
  margin: 0;
  text-align: right;
}

.diaryDetailBox dl {
  border: 1px solid #CCCCCC;
}

.diaryDetailBox dt {
  float: left;
  width: 70px;
  padding-top: 5px;
  text-align: center;
}

.diaryDetailBox dd {
  zoom: 1;
  min-height: 4.5em;
  margin-left: 70px;
  border-left: 1px solid #CCCCCC;
}

* html .diaryDetailBox dd {
  height: 4.5em;
}

.diaryDetailBox dd div {
  border-top: 1px solid #CCCCCC;
}

.diaryDetailBox dd div p {
  padding: 4px 3px;
}

.diaryDetailBox dd div.title {
  border-top: none;
}

.diaryDetailBox dd div.body {
  padding: 4px 3px;
}

.diaryDetailBox dd ul.photo {
  padding: 4px 5px;
}

.diaryDetailBox dd ul.photo li {
  display: inline;
  margin-left: 6px;
}

/*==============================================================================
 * 19. prevNextLinkLine
 *----------------------------------------------------------------------------*/
.prevNextLinkLine p.prev {
  float: left;
  width: 50%;
  text-align: left;
}

.prevNextLinkLine p.next {
  float: right;
  width: 50%;
  text-align: right;
}

.block.prevNextLinkLine {
  padding: 4px 10px;
}

/*==============================================================================
 * diarySearchFormLine
 *----------------------------------------------------------------------------*/
#diarySearchFormLine p.form {
  text-align: right;
}
